[Unit]
Description=A Restful API to manage Unbound Control CLI Tool
Documentation=https://github.com/callMe-Root/unbound-control-api
After=network.target

[Service]
Type=simple
#Restart=always
User=root
#EnvironmentFile=/usr/bin/env/
ExecStart=/usr/bin/unbound-control-api
[Install]
WantedBy=multi-user.target